@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<br />
<h1 class="text-center">Bevo's Bookstore Home</h1>



<br />
<div class="text-center">
    <div class="btn-group-lg">
        <!--Buttons under header. -->
        <a asp-action="CheckoutDirect" class="btn btn-primary">Direct Order</a>
        <a asp-action="CheckoutWholesale" class="btn btn-danger">Wholesale Order</a>
    </div>
</div>









